<!DOCTYPE html>
<html>
<head>
    <title>Add Vehicle</title>
</head>
<body>
    <h1>Add Vehicle</h1>
    <form action="/add_vehicle" method="post">
        <label for="name">Vehicle Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="vehicle_id">Vehicle ID:</label>
        <input type="text" id="vehicle_id" name="vehicle_id" required><br>

        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required><br>

        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required><br>

        <input type="submit" name="action" value="Add Another Vehicle">
        <input type="submit" name="action" value="See Location of This Vehicle">
        <input type="submit" name="action" value="All Vehicle List">
    </form>
</body>
</html>
