<!DOCTYPE html>
<html>

<head>
    <title>Seller Dashboard</title>
</head>

<body>
    <h2>Welcome, Seller</h2>
    <h3>Your Vehicles:</h3>
    <ul>
        {% for vehicle in vehicles %}
        <li>{{ vehicle.name }} (ID: {{ vehicle.vehicle_id }})</li>
        {% endfor %}
    </ul>

    <h3>Add a New Vehicle:</h3>
    <form method="POST" action="/seller_dashboard/{{ seller.id }}">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="vehicle_id">Vehicle ID:</label>
        <input type="text" id="vehicle_id" name="vehicle_id" required><br>

        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required><br>

        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required><br>

        <button type="submit">Add Vehicle</button>
    </form>

    <form method="POST" action="/add_category">
        <label for="category_name">Category Name:</label>
        <input type="text" id="category_name" name="category_name" required>
        <button type="submit">Add Category</button>
    </form>

    {% for category in categories %}
    <form method="POST" action="/delete_category/{{ category.id }}">
        <button type="submit">Delete Category {{ category.name }}</button>
    </form>
    {% endfor %}
    
    <h3>Categories:</h3>
    <ul>
        {% for category in categories %}
        <li>{{ category.name }}</li>
        {% endfor %}
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>

</html>