<!DOCTYPE html>
<html>
<head>
    <title>Seller Sign Up</title>
</head>
<body>
    <h1>Seller Sign Up</h1>
    <form method="POST" action="/seller_signup">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        
        <label for="mobile">Mobile:</label>
        <input type="text" name="mobile" id="mobile" required>
        <br>

        <input type="submit" value="Sign Up">
    </form>
</body>
</html>
